body{
    width: 100%;
    height: 100%;
    background-color: rgb(153, 184, 191);
}

.menu-principal{
    width: 100%;
    background-color: #000000;
    height: 80px;

}
main {
    margin: 0 auto;
    width: 980px;
    float: left;
    position: relative;
    margin-left: 200px;
    margin-right: 100px;
    
    
}
img{
    height: 60px;
}



.logo{
  /* aqui pode ser feita qualque alteração no logo da tela inicial*/
  float: left; 
  width: 70%;
  padding: 0px;

}
.redes-sociais ul li{
    display: inline-block;
    float: left;
    list-style: none;

}