/* ESTILO GERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: ;
}

.flex{
    display: flex;
}

body{
    background-color: white;
    height:  1000vh;
}
.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color:pink;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 0px 8px rgb(169, 136, 141);
}


/* ESTILO DO CABEÇALHO*/
header{
    padding: 40px 4%;
}
header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
header a{
    color: #5c5c5c;
    text-decoration: none;
    display: inline-block;
    transition: 0.5s;
}
header a:hover{
    color: #999;
    transform: scale(1.05);

}
header nav ul{
    list-style-type: none;
}
header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

img{
    margin-top: px;
    height: 200px;
}
header .menu-desktop{
    color:grey;
    
}
header .menu-desktop:hover{
    color: black;
    transform: scale(1.5s);
    

}
header nav ul li{
    box-shadow: 0px 0px 8px rgb(169, 136, 141);
    color:pink;
}
header nav ul li:hover{
    color: black;
    transform: scale(1.07);
}

/* ESTILO TOPO DO SITE*/
section.topo-do-site{
    padding: 40px 4%;
}


    main section div h1 span{
        color: pink;
        width: 1px;
    }
    section.topo-do-site .flex{
        align-items: center;
        justify-content: center;
        gap: 90px;

    }
    .topo-do-site h1{
        color: #ce9d9d;
        font-size: 80px;
        line-height: 100px;

    }
  .topo-do-site .txt-topo-site p{
    color: black;
    margin: 15px 0px;
  }