body{
    width: 100%;
    height: 100%;
    margin: 0% auto;
}
ul {
    padding: 0px !important;
}


.menu-principal{

    width: 100%;
    background-color: rgb(185, 151, 157);
    height: 90px;
}
img{
    height: 90px;
}
main, .content{
    
    margin: 0 auto;
    width: 980px;
    position: relative;

}
.logo{
    float: left;
    height: 90px;
    width: 90%;
}
.redes-sociais ul li{
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 1px;
    display: inline-block;
    list-style: none;

}
.redes-sociais{
    width: 20%;
    float: right;

}
.header-2{
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding: 15px;
    ;
}
.menu-urls{
    height: 80px;
    border-bottom: 3px solid pink;
}
.menu ul li {
    display: inline-block;
    color: black;
    margin-left: 15px;
    
}
.menu ul li:hover{
    border-bottom: 2px solid pink;

}
.menu ul li a:hover {
    color: rgb(61, 9, 121) ;
    border-bottom: 3px solid  rgb(61, 9, 121);


}
.menu ul li a {
    color: blue;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu ul li a{
    color: pink;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.menu{
    width:70%;
    float: left;
}
.busca{
    width: 30%;
    float: right;
    text-align: center;
}
/* INICIO Busca logo acima do primeiro Carrocel*/
.busca input{
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    height: 23px;
    padding: 5px;
    width: 190px;
    margin-top: 8px;
    border: 1px solid pink;
    border-radius: 2px;
    background-position: 92% ;
    background-size: 20px;
}
/* FIM Busca logo acima do primeiro Carrocel*/

.col-100{
    
    width: 100%;
    float: left;
    position: relative;
}

 /* INICIO Botão de seta para a esquerda no primeiro carrocel*/
button.slick-prev{
    font-size: 0px;
    border: none;
    width: 32px;
    height: 32px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/seta-esquerda\ \(2\).png);
    top: 50%;
    left:3%;
    
}
button.slick-prev:hover{
    scale: 1.2;
    
}
 /*FIM Botão de seta para a esquerda no primeiro carrocel*/ 


  /*INICIO Botão de seta para a direita no primeiro carrocel*/
button.slick-next{
    font-size: 0px;
    border: none;
    width: 32px;
    height: 32px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/seta-Direita\ \(2\).png);
    top: 50%;
    right: 3%;
   
}
button.slick-next:hover{
    scale: 1.2;
    
}
/* FIM Botão de seta para a direita no primeiro carrocel*/


.slick-list{
    width: 100%!important;
}
.slick-initialized{
    overflow: hidden;
}



/*PRimeira tentativa de fazer os botões do primeiro Carrocel*/
/*.slider-principal{
    width: 100%!important;
}
ul.slick-dots li button{
    display: inline-block;
    font-size: 0px;
    border: 3px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    float: left;
}
ul.slick-dots li.slick-active{
    background-color: pink;
}
.slick-list{
    width: 100%!important;
}
.slick-initialized{
    overflow: hidden;
}
*/
.slick-dots li button {
    font-size: 0px;
    border: 5px solid white;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}
/* inicio Botôes redondos do primeiro carrocel*/
.slick-dots {
margin: 0 auto;
width: 50%;
position: absolute;
left: 45%;
top: 550px; ;

}
li.slick-active button {
  background-color: pink;
}

.slick-dots li{
    padding-left: 10px;
    display: inline-block;
}
/* fim Botôes redondos do primeiro carrocel*/

/* Inicio Estilização do texto abaixo do primeiro carrocel*/
.texto-destaque {
    text-align: center;
}

.texto-destaque h1{
    color: gray;
    font-size: 30px;
    text-transform: uppercase;

}
.texto-destaque h1 strong{
    color: black;
    font-size: 40px;
}

.texto-destaque p{
    color: gray;
    font-size: 15px;
    text-align: center;

}
/*fim Estilização do texto abaixo do primeiro carrocel */

/*INICIO Estilização do primeiro trio de imagens */
.col-3{
    padding-left: 14px;
    padding-right: 15px;
    width: 29%;
    float: left;
    position: relative;
}
.col-3 img{
    width: 200px;
    height: 200px;
    border-radius: 30px;
    
}
.col-3 p{
    text-align:center;
    margin-bottom: 33px;

   
}

/*FIM Estilização do primeiro trio de imagens */
/* INICIO estilização do primeiro bloco de texto*/
.bloco-imagem img{
    margin: 0 auto;
    width: 50%;
    height: auto;
    
}

 .bloco-texto .bloco-imagem img:hover{
    transform: scale(1.1);
    box-shadow: 0 0 30px rgb(211, 172, 179);

}
 .bloco-imagem{
    height: 300px;
    border: 1px solid rgb(7, 0, 0);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 10px;
    border-radius: 3%;
    
}

.bloco-imagem b, p {
    text-align: left;

}

.bloco-texto{
    float: left;
    margin-top: 3em;
}
.bloco-texto img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
  }

  @keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 10px;
    }
  }
    


/* INICIO estilização do primeiro bloco de texto*/
h3{
    font-weight: normal!important;
}
.bloco-imagens-texto {
    background-color: #eeeeee;
}
/*Essa parte do css diz respeito a exposição das canecas*/
.bloco-imagens-texto:before {
    width: 100%;
    display: inline-block;
    content: '';
    height: 25px;
    background: #ffffff;
    background-image: url('../img/');
    background-repeat: no-repeat;
    background-position: center;
}
.bloco-imagens-texto:after {
    width: 100%;
    display: inline-block;
    content: '';
    height: 70px;
    background: #eeeeee;
} 
/*Fim da exposição das canecas*/

/*Inicio do primeiro footer onde vai os patrocinadores "Marcas"*/
.col-4 {
    float: left;
    width: 25%;
    text-align: center;
}
.col-4 img {
cursor: pointer;
 margin: 0 auto;
 padding-top: 1em;
 vertical-align: middle;
 
}
.col-4 img:hover {
    margin-top: 1px!important;
    position: relative!important;
}
/*Fim do primeiro*/

.bloco-logos {
    height: 170px;
}

.bloco-logos img {
    margin-top: 50px;
}

.footer h3 {
    text-align: left;
}

.footer {
    background-image: url('../img/footer.png');
    color: #110505;
}

.footer-2 {
    background-color: #080202;
    color: #ffffff;
    height: 90px;
}

.footer p {
    width: 90%;
    text-align: left;
}

.footer-2 p {
    padding: 10px;
    text-align:left;
}

.clock {
    color: #898989!important;
}

.clock:before {
    content: '';
    width:  15px;
    height: 15px;
    display: inline-block;
    background-image: url('../img/cafe.png');
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}

.local:before, .emailico:before, .telefoneico:before {
    content: '';
    width:  17px;
    height: 24px;
    display: inline-block;
    float: left;
    background-repeat: no-repeat;
    padding-left: 5px;
}
.local:before {
    background-image: url('../img/cafe.png');
}  
.emailico:before {
    background-image: url('../img/logo01.png');
}  
.telefoneico:before {
    background-image: url('../img/telefoneico.png');
}  

.col-3 bloco-texto{
    width: 10px;

}

