body{
    width: 100%;
    height: 100%;
    margin: 0% auto;
}
ul {
    padding: 0px !important;
}


.menu-principal{

    width: 100%;
    background-color: rgb(250, 233, 235);
    height: 90px;
}
img{
    height: 90px;
}
main, .content{

    margin: 0 auto;
    width: 980px;
    position: relative;

}
.logo{
    float: left;
    height: 90px;
    width: 90%;
}
.redes-sociais ul li{
    margin-top: 15px;
    margin-left: 50px;
    margin-right: 1px;
    display: inline-block;
    list-style: none;

}
.redes-sociais{
    width: 20%;
    float: right;

}
.header-2{
    background-color: white;
    width: 980px;
    margin: 0 auto;
    padding: 15px;
    ;
}
.menu-urls{
    height: 80px;
    border-bottom: 3px solid pink;
}
.menu ul li {
    display: inline-block;
    color: black;
    margin-left: 15px;
    
}
.menu ul li:hover{
    border-bottom: 2px solid rgb(78, 31, 31);

}
.menu ul li a:hover {
    color: rgb(78, 31, 31);
    border-bottom: 3px solid rgb(78, 31, 31) ;


}
.menu ul li a {
    color: blue;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
.menu ul li a{
    color: pink;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}
.menu{
    width:70%;
    float: left;
}
.busca{
    width: 30%;
    float: right;
    text-align: center;
}
/* INICIO Busca logo acima do primeiro Carrocel*/
.busca input{
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    height: 23px;
    padding: 5px;
    width: 190px;
    margin-top: 8px;
    border: 1px solid pink;
    border-radius: 2px;
    background-position: 92% ;
    background-size: 20px;
}
/* FIM Busca logo acima do primeiro Carrocel*/

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

 /* INICIO Botão de seta para a esquerda no primeiro carrocel*/
button.slick-prev{
    font-size: 0px;
    border: none;
    width: 32px;
    height: 32px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/seta-esquerda\ \(2\).png);
    top: 50%;
    left:3%;
}
 /*FIM Botão de seta para a esquerda no primeiro carrocel*/ 


  /*INICIO Botão de seta para a direita no primeiro carrocel*/
button.slick-next{
    font-size: 0px;
    border: none;
    width: 32px;
    height: 32px;
    z-index: 9;
    background-color: transparent;
    position: absolute;
    background-image: url(../img/seta-Direita\ \(2\).png);
    top: 50%;
    right: 3%;
}
/* FIM Botão de seta para a direita no primeiro carrocel*/


.slick-list{
    width: 100%!important;
}
.slick-initialized{
    overflow: hidden;
}


/*PRimeira tentativa de fazer os botões do primeiro Carrocel*/
/*.slider-principal{
    width: 100%!important;
}
ul.slick-dots li button{
    display: inline-block;
    font-size: 0px;
    border: 3px solid white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    float: left;
}
ul.slick-dots li.slick-active{
    background-color: pink;
}
.slick-list{
    width: 100%!important;
}
.slick-initialized{
    overflow: hidden;
}
*/
.slick-dots li button {
    font-size: 0px;
    border: 5px solid white;
    width: 26px;
    height: 26px;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}
/* inicio Botôes redondos do primeiro carrocel*/
.slick-dots {
margin: 0 auto;
width: 50%;
position: absolute;
left: 45%;
top: 550px; ;

}
li.slick-active button {
  background-color: pink;
}

.slick-dots li{
    padding-left: 10px;
    display: inline-block;
}
/* fim Botôes redondos do primeiro carrocel*/

/* Inicio Estilização do texto abaixo do primeiro carrocel*/
.texto-destaque {
    text-align: center;
}

.texto-destaque h1{
    color: gray;
    font-size: 30px;
    text-transform: uppercase;

}
.texto-destaque h1 strong{
    color: black;
    font-size: 40px;
}

.texto-destaque p{
    color: gray;
    font-size: 15px;

}
/*fim Estilização do texto abaixo do primeiro carrocel */